"*":
  "clang-format":
    executable: "/usr/bin/clang-format-3.6"
  core:
    disabledPackages: [
      "minimap"
      "linter-clang"
      "goto"
      "goto-definition"
    ]
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 15
    invisibles: {}
  "exception-reporting":
    userId: "80eb1151-56ac-039e-88f7-b8e4a5abff6e"
  linter: {}
  minimap:
    displayMinimapOnLeft: true
  welcome:
    showOnStartup: false
